@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,600i');


#Locales .espacio{
    /*margin: 15px 20px; /*MArgen entremedio*/
    
}

#Locales .titulo{
    background:  #303132!important;    
    
    margin-left: 4px;
    margin-right: 4.9px;
    -webkit-backface-visibility: hidden;
    padding: 15px 0;
    padding-bottom: 15px !important;
    font-family: 'Source Sans Pro', sans-serif;     
    color: white;
    
    -webkit-box-shadow: inset 0px 3px 31px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 3px 31px -4px rgba(0,0,0,0.75);
    box-shadow: inset 0px 3px 31px -4px rgba(0,0,0,0.75);
    
    text-shadow: 3px 3px 10px #161616, -3px -3px 10px #161616;
    
}
.titulo h2{
    margin-bottom: 0px !important;
    font-size: 22px;
    font-weight: 600; 
    font-style: italic;
}
.no-paddingL{    
    /*box-shadow: 0px 0 1px 5px black;*/
}
.texto-cartas{
    width: 100%;     
    text-align: center; /*horiz. center text*/    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}





@media (max-width: 767px){
    
    #Locales figure{
    position: relative;
    float: left;
	overflow: hidden;
	height: auto;	
	text-align: center;
	cursor: pointer;    
	font-family: 'Raleway', Arial, sans-serif;    
    width: 100%;        
}
    .tarjetas1{
        padding: 20px 10px !important;
    }
    
    
}
@media (max-width:1440px){
    .titulo h2{
    font-size: 20px;    
    }
    #Locales figure{
    position: relative;
    float: left;
	overflow: hidden;
	height: auto;	
	text-align: center;
	cursor: pointer;    
	font-family: 'Lobster', cursive;   
    width: 100%;
    padding: 0;
    border: 3px solid #292b2c;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /*box-shadow: 0 0 1px 5px black;*/
    }
    #Locales figure p {
    letter-spacing: 1px;
	font-size: 22.2px;
    padding-bottom: 5%;
    padding-left: 0px;
    padding-right: 0px;
    }
}

/* Media queries */
/*@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
} */